.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
}
#circle1 {
  background-image: linear-gradient(red, white);
  animation: circle 5s ease-in-out infinite alternate;
  left:30% ;
}
#circle2 {
  background-image: linear-gradient(yellow, green);
  right: 40%;
  animation: circle 5s ease-in-out infinite alternate-reverse;
}
@keyframes circle {
  from {
    top: 30%;
  }
  to {
    top: 60%;
  }
}
